.row{
    padding: 20px;
    background-color: rgb(0, 174, 243) ;
}

.cotainer{
    width: auto;
}
.parte1, .parte2{
    padding: 15px;
    margin-top: 20px;
    display: inline-block;
    text-align: justify;
}

img{
    /* box-shadow: ejeX ejeY difumasion color*/
    box-shadow: 10px 10px 10px #000000;
}