
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/sel+dni.jpg" class="img-fluid" id="fotodeperfil">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
          <h1>Acerca De Mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ab impedit ipsam soluta odio ratione temporibus recusandae necessitatibus distinctio asperiores optio aliquid molestiae corrupti, praesentium maxime animi eius atque. Excepturi.</p>
        </span>
      </div>
    </div>
