.row{
    padding: 20px;
}
div{
    background-color: rgb(0, 174, 243);
    text-align: center;
}
/* Etiqueta del Nombre (los "id" van con #) */
#nombre{
    font-weight: bold;
    margin-top: 25px;
    margin-left: 10px;
}

/* Estilo de la Foto de perfil */
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: center;
        width: 50%;
        border-radius: 100px;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        
    }
}


